/* font-family: 'Manrope', sans-serif; */

/* Color library */
:root {
    --light-grey: rgb(235, 235, 235);
    --dark-grey:  rgb(50, 50, 50);
    --transparent: rgba(50, 50, 50, 0.1);
    --mint:  rgb(102, 240, 210);

    --document-font: 'Manrope', sans-serif;
}




body {
    font-family: var(--document-font);
    font-weight: 400;
    font-size: 0.8em;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    padding: 1em 2.5em;
    text-align: justify;
    text-justify: inter-word;
}

#body-container {
    /* background: lightgreen;
    display: grid;
    grid-template-areas: "header header"
                         "content sidebar"
                         "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 5px; */
}

.navbar-container {
    display: flex;
    gap: 5px;    
    justify-content: space-between;
    align-items: flex-start;
}

nav > span {
    /* flex-grow: 1; */
}

nav > ul {
    margin: 0em;
    display: flex;
    flex-direction: row;
    justify-items: auto;
    padding: 0em;
    list-style-type: none;
    /* flex-grow: 1; */
}

.nav-item {
    flex-basis: 1em;
    margin-left: 1em !important;
    margin: 0em;
}

hr {
    border-top: 1px solid var(--transparent);
    margin: 0.2em 0;
}


#my-name {
    color: var(--dark-grey);
    font-weight: 600;
    font-size: 5em;
    margin: 0.5em 0em;
    position: relative;
    bottom: 0.1em;
    line-height: 1em;
    transition: text-shadow 0.2s ease,
                transform 2s ease,
                letter-spacing 2s cubic-bezier(0.4, 0, 0.2, 1);
}

#my-name:hover {
    /* font-weight: 800; */
    transform: scale(1.01);
    text-shadow: 2px 2px var(--mint);
    letter-spacing: .02em;
}

main {

}

#outer-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1fr);
    grid-gap: 0.5em;

}
#inner-container {
    margin-top: 20em;
    margin-bottom: 4em;
    grid-column: 5 / 13;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: normal;
    gap: 0.25em;
    position: relative;
}

#project-anchor {
    display: flex;
    width: 100%;
}

.gallery-item:first-child {
    margin-bottom: 5em;
    width: 100%; 

}

.gallery-item {
    width: calc((100% - 2*0.25em)/3);
    min-width: 150px;
    position: relative;
    transition: transform .4s ease-out;
}

.gallery-item:not(article):hover {
    z-index: 1;
    transform: scale(1.05);
    /* box-shadow: 0px 0px 10px 2px var(--mint); */
}

.gallery-item:not(article):active {
    z-index: 2;
    transform: scale(10);
}

.gallery-item > span {
    color: var(--light-grey);
    font-weight: 800;
    position: absolute;
    top: 1em;
    left: 1em;
}

.project-image{
    z-index: -1;
    width: 100%;
    display: block;
}


form {
    margin-top: 10em;
    margin-bottom: 3em;
    grid-column: 1 / 9;
    max-width: 600px;
    border: 1px solid var(--transparent);
    padding: 1em;
    position: relative;
}

form > h2 {
    margin: 0 0 1em 0;
}

.form-item > label {
    display: inline-block;
    width:25%;   
    vertical-align: top;
}

.form-item > input, textarea {
    font-family: var(--document-font);
    width: calc(75% - 1em);
    background-color: var(--light-grey);
    border: 1px solid var(--transparent);
}

#message-input {
    height: 4em;
}

#submit-button {
    font-family: var(--document-font);
    font-weight: 700;
    margin-top: 1em;
    float: right;
    position: relative;
    right: 5px;
    background-color: var(--light-grey);
    border: 1px solid var(--transparent);
    transition: background-color .5s ease,
                color .5s ease,
                transform .5s ease .1s;
}

#submit-button:hover {
    background-color: var(--mint);
    transform: translateX(5px);

}

#submit-button:active {
    color: var(--light-grey);
    /* font-weight: 800; */
    /* border: 1px solid var(--dark-grey); */
    transform: translateX(100vw);
}

.footer-list {
    margin: 0em;
    display: flex;
    flex-direction: row;
    padding: 0em;
    list-style-type: none;
    column-gap: 2em;
}

.footer-item {
    flex-basis: 1em;
    margin: 0em;
    flex-grow: 0;
}

#back-to-top {
    flex-grow: 1;
}


@media (min-width: 1200px) {
    body {
        width: calc(1200px - 5em - 32px);
        margin: 8px auto;
    }    
}


@media (max-width: 800px) {
    
    .gallery-item {
        width: calc((100% - 1*0.25em)/2);
        min-width: 150px;
        position: relative;
    }
    
}

@media (max-width: 600px) {
    
    #site-built {
        display: none;
    }
    
    form {
        grid-column: 1 / 13;
    }

    .gallery-item {
        width: 100%;
        min-width: 150px;
        position: relative;
    }
    
}